			body {
				background: url('geopatt.jpg');
				background-position: center top;
				background-attachment: fixed;
				background-size: cover;
				background-color: #444;
				padding: 0;
				margin: 0;
			}
			a {
				text-decoration: none;
			}
			h1 {
				margin: 0;
				padding: 0;
				text-align: center;
			}
			h1 a {
				display: block;
				width: 610px;
				height: 148px;
				background-image: url('fugacontrollogo.png');
				background-repeat: no-repeat;
				background-size: contain;
				margin: 55px auto 0 auto;
			}
			h1 a span {
				opacity: 0;
			}
			p.categorias {
				text-align: center;
				margin: 89px auto 0 auto;
				padding: 0 0 89px 0;
			}
			p.categorias a {
				display: inline-block;
				width: 377px;
				height: 55px;
				background: url('categoriatipo.jpg');
				background-size: cover;
				padding: 322px 0 13px 0;
				text-align: center;
				text-transform: uppercase;
				font-family: sans-serif;
				font-weight: normal;
				letter-spacing: 1px;
				font-size: 34px;
				text-shadow: 0px -3px 5px #000;
				margin: 5px;
				color: #9ff;
				border-radius: 55px;
				border-style: solid;
				border-color: #003;
				border-width: 5px;
			}
			p.categorias a:hover {
				border-color: #3ff;
			}
			p.categoriasNavegador {
				text-align: center;
				margin: 55px auto 0 auto;
				padding: 0;
			}
			p.categoriasNavegador a {
				text-align: center;
				display: inline-block;
				padding: 5px 13px 3px 13px;
				text-transform: uppercase;
				font-family: sans-serif;
				font-weight: normal;
				letter-spacing: 1px;
				font-size: 21px;
				margin: 5px;
				color: #9ff;
				background-color: #60c;
				border-radius: 13px;
				border-style: solid;
				border-color: #003;
				border-width: 3px;
			}
			p.categoriasNavegador a:hover {
				text-shadow: 0px -3px 5px #000;
				color: #0ff;
				border-color: #60c;
			}
			p.categoriasNavegador span#actCat {
				text-align: center;
				display: inline-block;
				padding: 5px 13px 3px 13px;
				text-transform: uppercase;
				font-family: sans-serif;
				font-weight: normal;
				letter-spacing: 1px;
				font-size: 21px;
				margin: 5px;
				color: #60c;
				background-color: #0ff;
				border-radius: 13px;
				border-style: solid;
				border-color: #0ff;
				border-width: 3px;
				text-shadow: 0px 0px 5px #fff;
			}



			div#juegosLista {
				text-align: center;
				margin: 0 auto;
				padding: 0 34px 89px 34px;
			}
			div.juegoFicha {
				max-width: 977px;
				min-width: 542px;
				height: 610px;
				margin: 55px auto;
				border-radius: 13px;
				border-style: solid;
				border-width: 5px;
				border-color: #ddddef;
				background-color: #ddddef;
				background-repeat: no-repeat;
				background-position: 0 0;
				background-size: cover;
			}
			div.juegoFicha h3 {
				text-transform: uppercase;
				text-align: left;
				color: #ddddef;
				font-weight: bold;
				font-size: 55px;
				font-family: Sans-serif;
				margin: 0.5em 144px 0.5em 21px;
				padding: 0;
				text-shadow: 0px 0px 8px #000;
			}
			div.juegoFicha p {
				text-align: left;
				color: #000;
				font-weight: normal;
				font-family: Sans-serif;
				font-size: 21px;
				max-width: 377px;
				margin: 0 144px 0 0;
				padding: 13px;
				border-top-left-radius: 0;
				border-top-right-radius: 13px;
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;
				background-color: #ddddef;
			}
			div.juegoFicha p.juegoPrecio {
				font-family: Serif;
				font-style: oblique;
				font-size: 21px;
				font-weight: bold;
				border-top-left-radius: 0;
				border-top-right-radius: 0;
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 13px;
			}
			div#juego001 {
				background-image: url('videogameimage.jpg');
			}
			div#juego002 {
				background-image: url('videogameimage.jpg');
			}
			div#juego003 {
				background-image: url('videogameimage.jpg');
			}
			div#juego004 {
				background-image: url('videogameimage.jpg');
			}
			div#juego005 {
				background-image: url('videogameimage.jpg');
			}
			div#juego006 {
				background-image: url('videogameimage.jpg');
			}
			div#juego007 {
				background-image: url('videogameimage.jpg');
			}
			div#juego008 {
				background-image: url('videogameimage.jpg');
			}
			div#juego009 {
				background-image: url('videogameimage.jpg');
			}
			div#juego010 {
				background-image: url('videogameimage.jpg');
			}
